body {
  background-color: #484848;
}

body,
a,
h1,
h2,
input,
textarea,
button,
select {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.hd,
.ft,
textarea,
button,
select,
option {
  background-color: #212121;
}

input {
  background-color: #212121aa;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus,
select:hover,
select:focus {
  background-color: rgba(255, 255, 255, 0.1);
  outline: solid 1px lightskyblue;
}

a:focus {
  border: solid 1px lightskyblue;
}

a {
  text-decoration: none;
}

a:focus,
a:hover {
  color: rgba(255, 255, 255, 0.5);
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  background-color: rgba(33, 33, 33, 0.75);
  list-style: none;
}

ul:nth-child(odd),
li:nth-child(odd) {
  background-color: rgba(33, 33, 33, 0.5);
}

table {
  border-collapse: collapse;
  background-color: rgb(33, 33, 33);
}

td {
  background-color: #353535;
}

table,
tr,
th,
td {
  border: solid 1px rgb(33, 33, 33);
}