button,
select {
  outline: solid 1px rgb(124, 124, 124);
}

input.w-10 {
  width: 15vmin;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:invalid {
  outline: solid 1px red;
  box-shadow: none;
}

td {
  padding: 0 2vmin;
}

.overflow-x {
  overflow-x: auto;
}

.danger {
  color: red;
}

.danger:hover,
.danger:focus {
  outline-color: red;
}

li * {
  display: inline;
}

@media only screen and (max-width: 800px) {
  table {
    width: 100vw;
  }
}