extends ../../layout
block head
  title= database
  style.
    @media only screen and (max-width: 800px) {
      #tableColumns button,
      #tableColumns > .row:not(#primaryKey) > *,
      button[type="submit"] {
        margin: 1vmin 0;
      }

      form .row:not(#primaryKey),
      .col.wp-2,
      .col.wp-2 *,
      #tableColumns *:not(#primaryKey) {
        display: block;
        width: 100%;
      }
    }
block body
  block header
    header.hd
      h1
        a(href="/")= title
        |  > 
        a(href="/" + directory) Database: #{database}
  block main
    main
      .row
        .col.w-2.p-5
          h2 Add table
          include database/createTable
        .col.w-2.p-5
          h2 Tables
          include database/showDatabase