block styles
  style.
    input:first-child,
    th:first-child,
    td:first-child {
      color: gold;
    }
    
    td:first-child {
      background-color: rgb(43, 43, 43);
    }

    input:first-child:hover,
    input:first-child:focus {
      border: solid 1px gold;
      outline: 0;
    }
if results.length > 0
  .row.overflow-x
    table.p-2
      tr
        each columnName in columnNames
          th.p-2= columnName
        form(action="/SaveTable/" + tableName, method="post")
          th.p-2
            button.p-1 Save
        form( action = "/DeleteTable/" + tableName
          ,   method = "post"
          , onsubmit = "return confirm(\"WARNING: Are you sure you want to empty this table?\")")
          th.p-2
            button.p-1.danger Empty
      each entry in results
        tr
          each column in entry
            td= column
          td
            form(action="/database/" + tableName + "/" + entry.id, method="get")
              button.p-1.edit Edit
          td
            form( action = "/DeleteEntry/" + tableName + "/" + entry.id
              ,   method = "post"
              , onsubmit = "return confirm(\"WARNING: Are you sure you want to delete this entry?\")")
              button.p-1.danger Delete
else
  p The table is empty. Add a new entry to show the table.