extends ../../../layout
block head
  title #{database} > #{tableName} | Alter
block headScripts
  script
    include createtable.js
block body
  block header
    header.hd
      h1 
        a(href="/") #{title}
        |  > 
        a(href="/" + directory) Database: #{database}
        |  > 
        a(href="/" + directory + "/" + tableName) Table: #{tableName}
  style.
    form[method="post"] {
      margin: -0.75vmin;
    }
    
    input:valid {
      outline: solid 1px lightgreen;
    }

    .row {
      margin: 0 0.75vmin;
    }

    .row > * {
      margin: 1vmin 0;
    }

    .row * {
      display: block;
      width: 100%;
    }

    script {
      height: 2vmin;
      font-size: 0;
    }
  block main
    .row
      mixin alterColumn(title, action)
        .col.p-1
          h3= title
          form(id = action
            , action = "/" + action + "/" + tableName
            , method = "post"
            , noType = noType
          )
            script newColumnSubmit(getId("#{action}"), "#{action}");
      +alterColumn("Add column", "AddColumn")
      +alterColumn("Modify column", "ModifyColumn")
      +alterColumn("Delete column", "DeleteColumn")
      +alterColumn("Add foreign key", "AddForeignKey")
      +alterColumn("Drop foreign key", "DropForeignKey")
      +alterColumn("Rename table", "RenameTable")
    .row
      .col(style="padding: 0 5vmin")
        h3 Columns
        each column in tableColumns
          span= column
      .col(style="padding: 0 5vmin")
        h3 Foreign Keys
        if (foreignKeys.length > 0)
          each key in foreignKeys[0]
            p= key
        else
          p There are no foreign keys.