form(action="/CreateTable", method="post", onsubmit="return getId('tableColumns').childElementCount > 1;")
  .row
    .col.wp-2
      input.p-2.wp-1#tableName(type="text", name="tableName", placeholder="Table Name", required)
    .col.wp-2
      button.p-2(type="submit") Submit
  br
  #tableColumns
.row(style="margin-top: 0.75vmin")
  .col.wp-2
    button.p-2.wp-1(onclick="newColumn(getId('tableColumns'))") Add column
  .col.wp-2
    button.p-2.wp-2(onclick="newForeignKey(getId('tableColumns'))") Add Foreign Key
block bodyScripts
  script
    include createTable.js
  script.
    const parent = getId("tableColumns");
    addPrimaryKey(parent);
    newColumn(parent);
    getId("tableName").focus();