extends ../layout
block styles
  style.
    pre {
      background-color: black;
      padding: 5vmin;
      overflow-x: auto;
    }
block head
  title Error #{error.errno}
block body
  header.hd
    h1
      a(href="/")= title
      |  > 
      a(href="/database") Database: #{database}
      |  > Error #{error.errno}
  main
  .row
    .col.w-1.p-5
      pre
        .row
          .col.w-1 ERROR_CODE: #{error.code}
        .row
          .col.w-1 ERROR_SQL: #{error.sql}
        .row
          .col.w-1 #{error}
      a(href="#back", onclick="window.history.back()") Click here to go back.
  script console.error("#{error}");