extends ../layout
block body
  header.hd
    h1 
      a(href="/") Home
      |  > Error 404 - Page not found
  main
    .row
      .col.w-1.p-5
        a(href="#back", onclick="window.history.back()") Click here to go back.
  script console.error("#{error}");